<<<<<<< Updated upstream .links:hover {
  color: green;
  background-color: yellow;
}
.mail:hover {
  color: green;
  background-color: yellow;
}
.telephone:hover {
  color: green;
  background-color: yellow;
}
button {
  cursor: pointer;
}
